# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

# Foundry
.env.foundry
out/
cache/

# VSCode
.vscode/

# Node
node_modules/